aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
certifi
charset-normalizer
dataclasses-json
distro
filelock
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jsonpatch
jsonpointer
marshmallow
multidict
mypy-extensions
numpy
openai
packaging
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
sniffio
SQLAlchemy
tenacity
tiktoken
tokenizers
tqdm
typing-inspect
typing_extensions
urllib3
yarl
litellm
nest-asyncio
matplotlib
arize-phoenix
#google-cloud-aiplatform
#gcloud

